<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.Fulwali">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.app.Fulwali.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.app.Fulwali.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.app.Fulwali.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.app.Fulwali.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />


        <activity
            android:name="com.app.Fulwali.Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.app.Fulwali.model.MyProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.app.Fulwali.SubCategoryPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.app.Fulwali.ProductDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.app.Fulwali.AboutUs"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.app.Fulwali.TermsCondition"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.app.Fulwali.Privacy"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.app.Fulwali.ProductCart"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.app.Fulwali.Shippingactivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name="com.app.Fulwali.OrderCancellation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name="com.app.Fulwali.Replacement"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name="com.app.Fulwali.Refund"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.app.Fulwali.Feedbackactivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.app.Fulwali.ContactUs"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.app.Fulwali.SearchedProductPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name="com.app.Fulwali.ProductPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.app.Fulwali.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.app.Fulwali.ShippingContent"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.app.Fulwali.OTPActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name="com.app.Fulwali.MyOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name="com.app.Fulwali.ProductOrderDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
    </application>
</manifest>